* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/* text-align: center; */
	overflow: hidden;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	text-align: center;
	background-color: #919191;
}

canvas {
	margin-top: 5vh;
}

div {
	display: none;
	color: #ffffff;
	background-color: #00000053;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(5px) brightness(85%);
	backdrop-filter: blur(5px) brightness(85%);
	text-align: center;
	padding-top: 3vh;
}

span {
	color: #ffffff;
	transition: color 0.2s ease;
}

h1 {
	margin-top: 5vh;
	font-size: 2.5vw;
	font-weight: 650;
}

p {
	font-size: 1.2vw;
}

button {
	display: block;
	margin: 5vh auto 5vh auto;
	height: 10vh;
	width: 25vw;
	font-size: 2.5vw;
	color: inherit;
	border: none;
	border-radius: 0.5vh;
	background-color: transparent;
	transition: background-color 0.2s ease;
	border-bottom: #7a71f8 0.5vh solid;
}

button:hover > span {
	cursor: pointer;
	color: #7a71f8;
}

button:hover {
	background-color: transparent;
}
